
@-webkit-keyframes animatedBackground {
	
	to { background-position: 100%; }
}



#gameboard	{ 
	width: 700px; 
	height: 500px; 
	background-image: url('images/bgtest.png');
	background-position: 0px 0px;
	background-repeat: repeat-y;
	border-radius: 20px;
	background-color: #030514;
	border: #fd53f4  10px solid;


	-webkit-animation: animatedBackground 30s linear infinite;
}

#game-wrapper { 
	margin:0 auto; 
	width: 700px; 
	padding-top: 35px;
	padding-left: 80px;

}

body {background-image: url('images/arcade.jpg' );


padding-bottom: 100px;

}


#container	{ 
	width: 700px; 
	height: 100px; 
	background-image: url('images/controls.png');
	margin-left: 437px;
	font-family: bebas;

	border-radius: 20px;
	
	border: #440e62  5px solid;


	
}

